---
import { getCollection } from "astro:content";

import type { GetStaticPaths } from 'astro';

import Default from "@layouts/Default.astro";

export const getStaticPaths = (async ({ paginate }) => {
  const bunkaLessons = await getCollection("materi", ({ id }) =>
    id.startsWith("bahasa"),
  );

  const sortedBunkaLessons = bunkaLessons.sort(
    (a, b) =>
      parseInt(a.data.created_at.replace("-", "")) -
      parseInt(b.data.created_at.replace("-", "")),
  );

  return paginate(sortedBunkaLessons, { pageSize: 2 });
}) satisfies GetStaticPaths;

const { page } = Astro.props;
---

<Default
  title="List semua materi bahasa"
  description="Halaman yang menjelaskan semua materi bahasa yang ada"
>
  <div class="flex flex-col">
    {
      page.data.map((lesson) => (
        <a href={`/materi/${lesson.slug}`}>{lesson.data.title}</a>
      ))
    }
  </div>
</Default>
