---
import { getCollection } from "astro:content";

import type { GetStaticPaths, InferGetStaticPropsType } from 'astro';

import Default from "@layouts/Default.astro";

export const getStaticPaths = (async ({ paginate }) => {
  const rekishiLessons = await getCollection("materi", ({ id }) =>
    id.startsWith("sejarah"),
  );

  const sortedRekishiLessons = rekishiLessons.sort(
    (a, b) =>
      parseInt(a.data.created_at.replace("-", "")) -
      parseInt(b.data.created_at.replace("-", "")),
  );

  return paginate(sortedRekishiLessons, { pageSize: 2 });
}) satisfies GetStaticPaths;

export type Props = InferGetStaticPropsType<typeof getStaticPaths>;

const { page } = Astro.props;
---

<Default
  title="List semua materi sejarah"
  description="Halaman yang menjelaskan semua materi sejarah yang ada"
>
  <div class="flex flex-col">
    {
      page.data.map((lesson) => (
        <a href={`/materi/${lesson.slug}`}>{lesson.data.title}</a>
      ))
    }
  </div>
</Default>
