---
import { getCollection, type CollectionEntry } from "astro:content";
import { DateTime } from "luxon";

import type { GetStaticPaths } from "astro";

import Default from "@layouts/Default.astro";

export const getStaticPaths = (async ({ paginate }) => {
  const bunkaLessons = await getCollection("materi", ({ id }) =>
    id.startsWith("budaya"),
  );

  const sortedBunkaLessons = bunkaLessons.sort((a, b) =>
    DateTime.fromFormat(b.data.created_at, "yyyy-M-d") >
    DateTime.fromFormat(a.data.created_at, "yyyy-M-d")
      ? 1
      : -1,
  );
  return paginate(sortedBunkaLessons, { pageSize: 2 });
}) satisfies GetStaticPaths;

export type Props = {
  page: {
    data: CollectionEntry<"materi">[];
  };
};

const { page } = Astro.props;
---

<Default
  title="List semua materi budaya"
  description="Halaman yang menjelaskan semua materi budaya yang ada"
>
  <div class="flex flex-col">
    {
      page.data.map((lesson) => (
        <a href={`/materi/${lesson.slug}`}>{lesson.data.title}</a>
      ))
    }
  </div>
</Default>
