---
import { getCollection } from "astro:content";

import Default from "@layouts/Default.astro";

const bunkaLessons = await getCollection("materi", ({ id }) =>
  id.startsWith("budaya"),
);

const sortedBunkaLessons = bunkaLessons.sort(
  (a, b) =>
    parseInt(a.data.created_at.replace("-", "")) -
    parseInt(b.data.created_at.replace("-", "")),
);
---

<Default
  title="List semua materi budaya"
  description="Halaman yang menjelaskan semua materi budaya yang ada"
>
  <div class="flex flex-col">
    {
      sortedBunkaLessons.map((lesson) => (
        <a href={`/materi/${lesson.slug}`}>{lesson.data.title}</a>
      ))
    }
  </div>
</Default>
