---
import Default from "@/layouts/Default.astro";

import { Header } from "@/components/home/Header";
import { Introduction } from "@/components/home/Introduction";
import { Division } from "@/components/home/Division";

import "@fontsource/zen-kaku-gothic-new/700.css";
---

<Default
  title="HINODE SMAN 12 Bekasi"
  description="Ekstrakurikuler Jejepangan SMA Negeri 12 Bekasi"
>
  <main>
    <Header />
    <Introduction />
    <Division />
  </main>
</Default>
