---
import Default from "@/layouts/Default.astro";
import Modal from "@/components/keanggotaan/Modal.astro";

import { Member } from "@/components/keanggotaan/Member";

import { generations } from "@/assets/pengurus";
---

<Default
  title="Keanggotaan | HINODE SMAN 12 Bekasi"
  description="Halaman keanggotaan hinode sman 12 bekasi"
  ogImage="/og-page-keanggotaan.png"
  ogUrl="keanggotaan"
>
  <Modal />

  <main class="pt-24 flex flex-col gap-7">
    <section class="flex flex-col gap-3 items-center">
      <h1
        class="text-center text-2xl font-bold w-[50%] sm:w-auto md:text-3xl lg:text-4xl"
      >
        Badan Pengurus Harian (BPH)
      </h1>
    </section>

    {
      generations.map((generation) => (
        <section class="flex flex-col items-center gap-10">
          <h1 class="text-center text-lg font-bold md:text-xl lg:text-2xl">
            {generation.title}
          </h1>

          <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-12">
            {generation.members.map((member) => (
              <Member
                client:load
                katakanaMax={generation.katakanaMax}
                memberData={member}
              />
            ))}
          </div>
        </section>
      ))
    }
  </main>
</Default>
